body{
    width: 100%;
    /* background-color: #E7E5E4; */
    background: linear-gradient(0deg,rgba(32,199,218,1)   0%, rgba(6,133,250,1)100%);
}

.content{
    margin-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.post{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.3);
    padding: 20px;
}

.registerbuttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px !important;
}

.profileheader{
    display: flex;
    flex-direction: column;
    align-items: center;
}