<!doctype html>
<title>{% block title %}{% endblock %} - The Godparent</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav>
    <h1>The Godparent</h1>
    <ul>
        <li><span><a href="{{ url_for('index') }}">Home</a></span></li>
        {% if current_user.is_anonymous %}
        <li><span><a href="{{ url_for('auth.login') }}">Sign In</a></span></li>
        {% else %}
        <li><span><a href="{{ url_for('profile.user',
                    nickname=current_user.nickname) }}">{{ current_user.nickname }}'s Profile </a></span></li>
        <li><span><a href="{{ url_for('auth.logout') }}">Sign Off</a></span></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

