<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% endblock %} - The Godparent</title>

  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='Semantic-UI-CSS-master/semantic.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='Semantic-UI-CSS-master/semantic.min.js') }}"></script>
</head>

<body>
  <div class="ui top fixed menu">
    <div class="item">
      <img src="{{ url_for('static',filename='images/chaospatinnen_small.png') }}">
    </div>
    {% if current_user.is_anonymous %}
    <a class="item" href="{{ url_for('auth.login') }}">Sign In</a>
    {% else %}
    {% if current_user.is_godmother %}
    <a class="item" href="{{ url_for('index.dashboard')
                            }}">Dashboard</a>
    {% endif %}
    <a class="item" href="{{ url_for('profile.user',
                    nickname=current_user.nickname) }}">{{ current_user.nickname }}'s Profile </a>
    <a class="item" href="{{ url_for('auth.logout') }}">Sign Off</a>
    {% endif %}
  </div>
  <div class="ui bottom fixed menu">
    <div class="item">
      logo
    </div>
  </div>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>

</html>