{% extends "admin_base.html" %}

{% block header %}
<h1>Edit Language   </h1>
{% endblock %}

{% block content %}
    <div class="post">
        <h1>Edit Language</h1>
        <form action="" method="post" class="ui form">
            {{ form.hidden_tag() }}
            <p>
                {{ form.iso_code.label }} </br>
                {% if new == True %}
                {{ form.iso_code(size=5) }} <br/>            
                {% for error in form.iso_code.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% else %}
                {{ form.iso_code.data }} <br/>
                {% endif %}
            </p>
            <p>
                {{ form.name.label }} <br/>
                {{ form.name(size=32) }} <br/>
            </p>
            <p><input id="submit" name="submit" type="submit" class="ui button primary" /></p>
        </form>
    </div>
{% endblock %}
