{% extends "admin_base.html" %}

{% block content %}
    <h1>Edit Language</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.iso_code.label }} </br>
            {% if new == True %}
            {{ form.iso_code(size=5) }} <br/>            
            {% for error in form.iso_code.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% else %}
            {{ form.iso_code.data }} <br/>
            {% endif %}
        </p>
        <p>
            {{ form.name.label }} <br/>
            {{ form.name(size=32) }} <br/>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
