<!--
    Description: Use these jinja macros to enable extra functions without having to use
                 javaScript. 
    Created On: Sun 29 Aug 2021 01:06:01 PM CEST
    Last Modified: Thu 23 Sep 2021 08:52:00 PM CEST
-->

<!-- Create a side bar with links to the pages from a list. -->
{% macro build_site_navigation(pages, selected) %}
        {% for page in pages %}
        <a href="{{page.url}}" class="{% if selected == page.name %}active teal {% endif %}item">
            {{ page.name }}
        </a>
        {% endfor %}
{% endmacro %}
