{% extends "admin_base.html" %}

{% block header %}
<h1>Static Pages</h1>
{% endblock %}

{% block content %}
    <p>
        <table id="data" class="table table-striped">
            <thead>
                <tr>
                    <th>Page Type</th>
                    <th>Language</th>
                    <th>Edit Page</th>
                </tr>
            </thead>
            <tbody>
            {% for static_page in static_pages %}
                <tr>
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <td>{{ static_page.type }}</td>
                        <td>{{ form.language }}</td>
                        <td>{{ form.submit }}</td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </p>
{% endblock %}
